<p-messages [(value)]="msgs"></p-messages>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="name">
  <div class="input-group-append">
    <button class="btn btn-success" type="submit" (click)="find()">Go</button>
  </div>
</div>
<p-table [value]="parts" [columns]="cols">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                     ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-part>
    <tr>
      <td>{{part.name}}</td>
      <td>{{part.description}}</td>
      <td>{{part.level}}</td>
      <td>{{part.id}}</td>
      <td>{{part.rev}}</td>
      <td>{{part.quantity}}</td>
      <td>{{part.uuid}}</td>
    </tr>
  </ng-template>
</p-table>
